<form (submit)="registerUser($event)">
  <div class="container">
    <h2>Registrati qui</h2>
  <div>
   <input type="text" autocomplete="off" placeholder="Username" id="username"> 
  </div>
<div>
 <input type="password" autocomplete="off" placeholder="Password" id="password"> 
</div>
  <div>
      <input type="password" autocomplete="off" placeholder="Conferma password" id="cpassword"> 
    </div>
      <div>
    <button type="submit" id="submit">Submit</button>
    <div>
    <button type ="indietro" id="indietro" routerLink="/">Indietro</button>

    </div>
    
  </div>
  </div>
</form>